# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.StickFightMaps.iml
# Datasource local storage ignored files
/../../../../../../../:\Software developer\TheActualRoundsMod\StickFightMaps\.idea\.idea.StickFightMaps\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
